<div class="text-center">
    <h1>Welcome to Weather App</h1>
    <form>
        <div class="form-group">
            <label for="location">Enter Address</label>
            <input type="text" name="location" class="form-control" id="location" aria-describedby="location" placeholder="Enter address">
            <small id="locationHelp" class="form-text text-muted">Please enter your city/state name</small>
        </div>
        <button type="submit" class="btn btn-primary">Show Weather</button>
    </form>

    <div class=" p-1 text-danger">
        <p class="error"></p> 
    </div>
    <div class="p-1 text-success">
        <p class="location"></p>
        <p class="forecast"></p>
    </div>

</div>
