html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer .container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

@media (min-width: 576px) {
    .footer .container .right-div {
        float: right;
    }
}

@media (max-width: 576px) {
    .footer .container{
        text-align: center;
    }
}